body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  font-family: Lato, Roboto, sans-serif;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 20px 61px 0;
  z-index: 1000;
  align-items: center;
}
.left-side-navbar {
  display: flex;
  align-items: center;
}
.topnav a {
  float: left;
  display: block;
  color: #e1e1e1;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  transition: 0.4s;
}
.topnav a:not(:first-child) {
  margin: 0 0 0 40px;
}
.topnav a:hover {
  color: #fff;
  transition-timing-function: ease-in-out;
}
.topnav a.active {
  color: #fff;
}
.topnav .login-container {
  float: right;
}
.topnav input[type="password"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 120px;
}
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.glow-on-hover {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 10px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  to {
    background-position: 0 0;
  }
}
.login-component-container {
  background-color: #fff;
  box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px,
    #0000002b 0 12px 13px, #00000017 0 -3px 5px;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  padding: 35px 70px;
  margin: 0 auto;
  border-radius: 10px;
}
.create-user-component-container {
  background-color: #fff;
  box-shadow: #00000040 0 54px 55px, #0000001f 0 -12px 30px, #0000001f 0 4px 6px,
    #0000002b 0 12px 13px, #00000017 0 -3px 5px;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  padding: 35px 70px;
  margin: auto;
  border-radius: 10px;
}
:root {
  --color-text: rgba(255, 255, 255, 0.892);
  --color-front: hsl(250deg, 100%, 40%);
  --color-back: hsl(252deg, 100%, 60%);
}
.tag {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  clip-path: polygon(20px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 20px);
  background: var(--color-front);
  padding: 16px 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
  transition: clip-path 0.5s;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.tag:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--color-back);
  box-shadow: 2px 2px 2px #0000001a;
  border-radius: 0 0 6px;
  transition: transform 0.5s;
}
.tag:hover {
  clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
}
.tag:hover:after {
  transform: translate(-100%, -100%);
}
.tag a {
  color: inherit;
  text-decoration: none;
}
.create-button {
  margin-top: 25px;
  width: 100%;
  font-size: 14px;
  height: 40px;
  margin-left: -5px;
}
.title h2 {
  font-size: 28px;
}
.title p {
  font-size: 16px;
}
.home-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/home_background.jpg") no-repeat center;
  background-size: cover;
}
.home-header h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.content {
  position: fixed;
  z-index: 1000;
}
.overlay {
  position: absolute;
  background-color: #0006;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
}
.logo {
  width: 80px;
  height: 80px;
  transition: transform 0.8s ease-in-out;
}
.logo:hover {
  transform: rotate(360deg) scale(1.1);
}
.nine h1 {
  text-align: center;
  font-size: 50px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 30px;
}
.nine {
  max-width: 60%;
  margin: auto;
}
.nine h1 span {
  margin-top: 20px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.nine h1 span:after,
.nine h1 span:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  height: 5px;
}
.profile-container {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: auto;
  padding: 20px;
}
.profile-inner-container {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-shadow: #0000003d 0 3px 8px;
  border-radius: 10px;
}
.profile-inner-container:nth-child(1) {
  width: 300px;
}

.page-wrapper {
  margin-top: 125px;
  text-align: center;
}
